<!DOCTYPE html>
<html class="hide-sidebar ls-bottom-footer" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Learning</title>
  
  <link href="css/vendor/all.css" rel="stylesheet">

  <link href="css/app/app.css" rel="stylesheet">
  
  <script src="js/app/angular.min.js" type="text/javascript"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
 
  <script src="modules/authentication/LoginController.js" type="text/javascript"></script>
  

</head>

<body class="login" data-ng-app="CleverZone">
  <div id="content">
    <div class="container-fluid">
      <div class="lock-container">
        <div class="panel panel-default text-center paper-shadow" data-z="0.5">
          <h1 class="text-display-1 text-center margin-bottom-none">Sign In</h1>
          <img src="images/people/110/guy-5.jpg" class="img-circle width-80">
          <div class="panel-body">
            <div class="form-group">
              <div class="form-control-material">
                <input class="form-control" type="text" name="username" id="username" placeholder="Username"  data-ng-model="username" required>
                <label for="username">Username</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control-material">
                <input class="form-control" type="password" name="password" id="password" class="form-control" placeholder="Enter Password" data-ng-model="password" required>
                <label for="password">Password</label>
              </div>
            </div>
        <div data-ng-controller = "LoginController"> 
				<a href=""  class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt" data-ng-click="submit()" ></i></a> 
        </div>



			
            <a href="#" class="forgot-password">Forgot password?</a>
            <a href="sign-up.html" class="link-text-color">Create account</a>
        
        
        
        
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <strong>Learning</strong> v1.1.0 &copy; Copyright 2015
  </footer>
  <!-- // Footer -->
  <!-- Inline Script for colors and config objects; used by various external scripts; -->
  <script>
    var colors = {
      "danger-color": "#e74c3c",
      "success-color": "#81b53e",
      "warning-color": "#f0ad4e",
      "inverse-color": "#2c3e50",
      "info-color": "#2d7cb5",
      "default-color": "#6e7882",
      "default-light-color": "#cfd9db",
      "purple-color": "#9D8AC7",
      "mustard-color": "#d4d171",
      "lightred-color": "#e15258",
      "body-bg": "#f6f6f6"
    };
    var config = {
      theme: "html",
      skins: {
        "default": {
          "primary-color": "#42a5f5"
        }
      }
    };
  </script>

  <script src="js/vendor/all.js"></script>

  
</body>

</html>