<!DOCTYPE html>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add T/F Questions Form</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form"  name="myForm" data-ng-submit="addQuestion()" >
                            <fieldset>
                                <div class="form-group">
                                	<label for="question">Question</label>
                                    <input class="form-control" data-ng-model="question" id = "question" placeholder="Question" name="question" type="text" autofocus required>  
                                </div>
                                <div class="form-group">
                                	<label for="time">Time</label>
                                    <input class="form-control" data-ng-model="time" id = "time" placeholder="Time" name="time" type="number" autofocus required>  
                                </div>
                                <div class="form-group">
                                	<h3><label>Correct Answer</label></h3>
                                	<label for="radio1">True</label>
									<input class="form-control" type="radio" name="answer" id="radio1" value="TRUE" data-ng-model="answer" checked required>
									<label for="radio2">False</label>
									<input class="form-control" type="radio" name="answer" id="radio2" value="FALSE" data-ng-model="answer" required>
								</div>
								<div>
								<input type = "submit" class="btn btn-lg btn-success btn-block" value = "Add Question" data-ng-disabled="myForm.$invalid">
								<button type = "button" class="btn btn-lg btn-success btn-block" data-ng-click = "changeRoute('/courseEdit')">Finish</button>
								</div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    jQuery
    <script src="../vendor/jquery/jquery.min.js"></script>

    Bootstrap Core JavaScript
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    Metis Menu Plugin JavaScript
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    Custom Theme JavaScript
    <script src="../dist/js/sb-admin-2.js"></script>

</body>


